body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('images/bakckground.jpeg');
}

.calculatorContainer {
    display: flex;
    flex-direction: column;
    border: black 1px solid;
    width: 200px;
    height: 295px;
    border-radius: 2px;
    margin-top: 150px;
}

.header {
    display: flex;
    justify-content: space-around;
    padding: 5px 0px;
    background-image: linear-gradient(to right, gainsboro, antiquewhite );
}

.coloredButtonsContainer {
    display: flex;
    align-items: center;
    margin-left: -5px;
}

.red,
.yellow,
.green {
    border-radius: 20px;
    padding: 5px;
    margin: 0 2px;
    border-style: solid;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: -20px;
}

.oldValue {
    background-color: #333333;
    padding: 2px 12px 0px;
    color: gainsboro;
    display: flex;
    justify-content: flex-end;
    font-size: 10px;
}

.currentValue {
    background-color: #333333;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
}

.calculatorButtonsContainer {
    background-color: #333333;
    display: flex;
    flex-direction: column;
    height: 220px;
    align-items: center;
}

.number,
.operator,
.function{
    height: 38px;
    width: 45px;
    border-radius: 0px;
    border-style: solid;
    margin-top: 2px;
}

.calculateButton {
    height: 38px;
    width: 94px;
    border-radius: 0px;
    border-style: solid;
}